# 1. 파이썬 캐시 및 시스템 파일
__pycache__/
*.py[cod]
.DS_Store
.streamlit/

# 2. 가상환경
venv/
.venv/

# 3. 대용량 모델 파일 (필요 시 LFS 사용 권장)
*.h5

# 4. 데이터셋 폴더 관리 (VGA_Total과 mouse_specs.csv만 포함)
# 먼저 Dataset 폴더 내의 모든 것을 제외합니다.
Dataset/*

# Dataset 폴더 자체는 추적해야 하므로 예외로 둡니다.
!Dataset/

# mouse_specs.csv 파일은 포함
!Dataset/mouse_specs.csv

# VGA_Total 폴더와 그 내부의 모든 파일은 포함
!Dataset/VGA_Total/
!Dataset/VGA_Total/**